<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body class="grid-fixed">
    <%-include("../partials/header_admin")%>
    <main id="edit">
        <h2 class="edit__title">EDIT ITEM</h2>
        <form class="edit__form" action="/admin/edit" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="form__flex">
                <div class="form__box--flex">
                    <label class="form__label">Categoria:</label>
                    <select class="form__select" name="collection" id="collection" 
                            value="<%=producto.category_name%>" required>
                        <option value="" disabled selected hidden>Seleccionar</option>
                        <option value="Figuras coleccionables"
                        <%if (producto.category_name=="Figuras coleccionables") {%>
                            selected
                        <%}%>
                        >Figuras coleccionables</option>
                        <option value="Llaveros"
                        <%if (producto.category_name=="Llaveros") {%>
                            selected
                        <%}%>
                        >Llaveros</option>
                        <option value="Remeras"
                        <%if (producto.category_name=="Remeras") {%>
                            selected
                        <%}%>
                        >Remeras</option>
                    </select>
                </div>
                <div class="form__box--flex">
                    <label class="form__label">Licencias:</label>
                    <select class="form__select" name="collection" id="collection" required>
                        <option value="" disabled selected hidden>Seleccionar</option>
                        <option value="starwars"
                        <%if (producto.licence_name=="Star Wars") {%>
                            selected
                        <%}%>
                        >Star Wars</option>
                        <option value="pokemon"
                        <%if (producto.licence_name=="Pokemon") {%>
                            selected
                        <%}%>
                        >Pokemon</option>
                        <option value="harrypotter"
                        <%if (producto.licence_name=="Harry Potter") {%>
                            selected
                        <%}%>
                        >Harry Potter</option>
                    </select>
                </div>
            </div>
            <div class="form__box--flex">
                <label class="form__label">Product name:</label>
                <input class="form__input" type="text" name="name" id="name" placeholder="" required value="<%=producto.product_name%>">
            </div>
            <div>
                <textarea name="description" id="description" cols="30" rows="10" placeholder="Product description" required><%=producto.product_description%></textarea>
            </div>
            <div class="form__flex">
                <div class="form__box--flex">
                    <label class="form__label">SKU:</label>
                    <input class="form__input" type="text" name="sku" id="sku" placeholder="SSK111AB001" 
                    value="<%=producto.product_sku%>" required>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="price">PRICE:</label>
                    <div class="form__input--wrapper">
                        <span>$</span>
                        <input class="form__input" type="text" name="price" id="price" data-type="currency" placeholder="0.000,00" value="<%=producto.product_price%>">
                    </div>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="stock">STOCK:</label>
                    <div>
                        <input class="form__input" type="text" name="stock" id="stock" placeholder="0" required>
                        <span>unidades</span>
                    </div>
                </div>
            </div>
                <div class="form__flex">
                    <div class="form__box--flex">
                        <label class="form__label" for="discount">Descuento</label>
                        <div class="form__input--wrapper">
                            <input class="form__input" type="text" name="discount" id="discount" placeholder="0" required value="<%=producto.product_dues%>">
                            <span>%</span>
                        </div>
                    </div>
                    <div class="form__box--flex">
                        <label class="form__label" for="dues">Cuotas</label>
                        <select class="form__select" name="dues" id="dues">
                            <option value="0">1 Pago</option>
                            <option value="3">3 cuotas sin intereses</option>
                            <option value="6">6 cuotas</option>
                            <option value="12">12 cuotas</option>
                        </select>
                    </div>
                </div>
                <div class="form__box--flex">
                    <label class="form__label">Imagenes:</label>
                    <input type="file" name="images" id="img" multiple>
                </div>
                <div class="form__box--flex">
                    <div class="edit__img">
                        <img src="<%=producto.img_front%>" alt="<%=producto.product_description%>">
                        <p class="edit__img-side">Front</p>
                    </div>
                    <div class="edit__img">
                        <img src="<%=producto.img_back%>" alt="<%=producto.product_description%> en caja">
                        <p class="edit__img-side">Back</p>
                    </div>
                </div>
                <div>
                    <input class="btn btn--primary btn--large" type="submit" value="Modificar Producto">
                </div>
        </form>
    </main>

    <%-include("../partials/footer")%>
    
</body>
</html>